:root{
    --background-color-form: rgb(171, 169, 169); 
    --font-color: rgb(86, 86, 86);
    --background-color-button: rgb(3, 141, 211);
    --background-body: rgb(203, 203, 203);
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-body);
}
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.titulo{
    width: 100%;
    text-align: center;
}
.titulo h1{
    font-size: 2rem;
    margin-bottom: 5px;
}
.titulo span{
    font-size: 1.1rem;
}
form{
    border: 3px solid var(--background-color-form);
    padding: 50px;
    position: relative;
    top: -20px;
}
.form-row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 40px;
    color: var(--font-color);
}
.form-row input[type="text"]{
    background-color: var(--background-color-form);
    border: 0;
    border-radius: 5px;
    width: 100%;
    font-size: 1.1rem;
    padding: 5px;
}
.form-row label {
    margin-bottom: 3px;
    text-align: initial;
    font-size: 1.1rem;
}
.form-row textarea{
    background-color: var(--background-color-form);
    border-radius: 5px;
    border: 0;
    resize: none;
}
form > button{
    width: 100%;
    background-color: var(--background-color-button);
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}


form > button:hover{
    background-color: rgb(5, 106, 157);
}

/* MEDIA QUERY ANCHO: 470PX */
@media (max-width: 400px){
    form{
        padding: 30px 40px;
    }
    .form-row label{
        font-size: 0.9rem;
    }
    .form-row input[type="text"]{
        font-size: 0.9rem;
    }
    span{
        font-size: 0.8rem;
    }
}